/* components/Header.module.css */

.header {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px 20px 20px 20px; /* Rounded corners for top-left and top-right */
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow 
}

.headerContent {
  max-width: 960px;
  margin: 0 auto; /* Center align content */
}

.headerTitle {
  margin-bottom: 10px; /* Space between title and links */
}

.navLinks {
  display: flex;
  justify-content: center; /* Center align links horizontally */
}

.navLink {
  margin: 0 15px; /* Space between links */
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.navLink:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
